name: C/C++ CI

on:
  push:
      branches: [ main ]
  pull_request:
      branches: [ main ]

jobs:
  build-and-test:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - name: install depends
      run: pip install --user cpp-coveralls
      - name: configure
      run: qmake
      - name: make
      run: make
      - name: make test
      run: make test